<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/tx
                            http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!--配置sessionfactory-->
    <bean class="org.springframework.orm.hibernate4.LocalSessionFactoryBean" id="sessionFactory">
        <!--引入hibernate的配置文件-->
        <property name="configLocation" value="classpath:*.cfg.xml"/>
        <!--引入hibernate实体类的配置文件集-->
        <property name="mappingLocations" value="classpath:com/onlinestore/entity/Category.hbm.xml"/>
    </bean>


    <!--配置声明式属性-->
    <bean class="org.springframework.orm.hibernate4.HibernateTransactionManager" id="hibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>


    <!--配置实体bean-->

    <!--将action交由spring的上下文进行管理-->
    <bean class="TestAction" id="testAction" scope="prototype"/>
</beans>